<div class="news-item" [ngClass]="type" (click)="goToDetails()">
  <div *ngIf="!hideImage" class="image">
    <img
      [src]="newsItem.urlToImage || '/assets/images/placeholder.jpg'"
    />
  </div>
  <div class="info">
    <small *ngIf="type !== 'trending' && type !== 'recent' && type !=='details'">Mustreads</small>
    <span *ngIf="type === 'trending' || type === 'recent'" class="time">
      {{
        type === "trending"
          ? helper.stringToFullDate(newsItem.publishedAt)
          : helper.stringToDateTime(newsItem.publishedAt)
      }}
    </span>
    <h1 class="header" *ngIf="type === 'featured'">{{ newsItem.title }}</h1>
    <h4
      [class.bold]="!hideImage"
      *ngIf="type === 'picks' || type === 'trending'"
    >
      {{ newsItem.description }}
    </h4>
    <p *ngIf="type !== 'trending'">{{ newsItem.description }}</p>
    <div *ngIf="type === 'featured' || type === 'picks'" class="author">
      <span>By</span>
      <span class="name light">{{ newsItem.author }}</span>
      <span *ngIf="type === 'picks'" class="time">
        - {{ helper.getTimeSinceDate(newsItem.publishedAt) }}</span
      >
    </div>
  </div>
</div>
