@import '../../../variables';

.featured,
.recent {
    img {
        min-width: 100%;
    }
}

.featured {
    .info {
        p {
            margin: 20px 0px 50px 0px;
        }

        .author {
            margin-bottom: 24px;
        }
    }
}

.picks,
.recent {
    display: flex;

    .info {
        p {
            margin: 0px 0px 5px 0px;
        }
    }
}

.recent {
    .image {
        margin-right: 20px;

        img {
            width: 110px;
            height: 75px;
        }
    }
}

.picks {
    .image {
        margin-right: 20px;

        img {
            width: 175px;
            height: 120px;
        }
    }

    .info {
        h4 {
            margin: 0;
        }
    }
}

.trending {
    .image {
        margin-bottom: 20px;

        img {
            width: 100%;
        }
    }
}

.image {
    img {
        object-fit: cover;
    }
}

.info {
    small {
        font-family: Roboto-Bold;
        text-transform: uppercase;
        color: $light-grey;
        font-size: 11px;
    }

    h1 {
        font-family: NunitoSans;
        font-size: 50px;
        line-height: 50px;
        margin: 10px 0;
    }

    h4 {
        font-family: Roboto-Light;
        margin: 10px 0px 20px 0;
        line-height: 30px;
        color: $dark-grey;

        &.bold {
            font-family: Roboto-Bold;
        }
    }

    P {
        color: $dark-grey;
        font-size: 16px;
        line-height: 25px;
        margin: 10px 0px 24px 0px;
    }

    .time {
        color: #b0b0b0;
        font-size: 14px;
    }

    .author {
        span {
            font-size: 14px;
            font-family: Roboto-Regular;

            &:first-of-type {
                margin-right: 5px;
            }

        }
    }
}