@import '../../../variables';

#news-letter {
    margin: 20px 0;

    .header {
        font-size: 25px;

        h1 {
            margin: 0;
        }
    }

    .form-group {
        display: flex;
        justify-content: center;
    }

    input {
        font-family: Roboto-Light;
        font-size: 15px;
        height: 30px;
        width: 65%;
        padding: 5px 15px;
        border: 1px solid $border-grey;
        outline: none;
        border-radius: 3px;
        -webkit-appearance: none;
        transition: all 1s ease;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        &:focus {
            border-color: $base-color;
        }
    }

    button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        height: 42px;
        width: 35%;
        margin-left: -1px;
    }

    p {
        color: $dark-grey;
        font-size: 15px;
        margin: 20px 0;
    }
}