<header>
    <h1 class="title">Latest News</h1>
</header>
<div id="home-wrapper">
  <aside id="side-content">
    <app-recent-news-component></app-recent-news-component>
    <app-popular-news-component></app-popular-news-component>
    <app-news-letter-component></app-news-letter-component>
    <app-follow-us-component></app-follow-us-component>
  </aside>
    <app-news-component id="news"></app-news-component>
    <app-editor-picks-component id="editor-picks"></app-editor-picks-component>
    <app-trending-news-component id="trending"></app-trending-news-component>
</div>
