<section id="trending-news">
    <header class="header">
        <h2>Trending</h2>
    </header>
    <div class="news">
        <ng-container *ngIf="isLoading">
            <app-news-item-placeholder *ngFor="let placeholder of placeholders"></app-news-item-placeholder>
        </ng-container>
        <app-news-item-component *ngFor="let newsItem of news; let i = index" [newsItem]="newsItem" [hideImage]="i > 3" class="trending-news-item" type="trending"></app-news-item-component>
    </div>
</section>