<section id="trending-news">
    <header class="header">
        <h2>Trending</h2>
    </header>
    <div class="news">
        <app-news-item-component class="trending-news-item" type="trending"></app-news-item-component>
        <app-news-item-component class="trending-news-item" type="trending"></app-news-item-component>
        <app-news-item-component class="trending-news-item" type="trending"></app-news-item-component>
        <app-news-item-component class="trending-news-item" type="trending"></app-news-item-component>
        <app-news-item-component class="trending-news-item" type="trending" [hideImage]="true"></app-news-item-component>
        <app-news-item-component class="trending-news-item" type="trending" [hideImage]="true"></app-news-item-component>
        <app-news-item-component class="trending-news-item" type="trending" [hideImage]="true"></app-news-item-component>
        <app-news-item-component class="trending-news-item" type="trending" [hideImage]="true"></app-news-item-component>
        <app-news-item-component class="trending-news-item" type="trending" [hideImage]="true"></app-news-item-component>
        <app-news-item-component class="trending-news-item" type="trending" [hideImage]="true"></app-news-item-component>
        <app-news-item-component class="trending-news-item" type="trending" [hideImage]="true"></app-news-item-component>
        <app-news-item-component class="trending-news-item" type="trending" [hideImage]="true"></app-news-item-component>
    </div>
</section>