ul {
    display: flex;

    li {
        display: inline;
        margin-right: 5px;

        .contact-btn {
            min-width: 45px;
            min-height: 45px;
            color: white;
            padding: 0;
            font-size: 20px;
        }
    }
}