ul {
    display: flex;
    padding: 0;
    list-style: none;

    li {
        display: inline;
        margin-right: 5px;

        .contact-btn {
            min-width: 45px;
            min-height: 45px;
            color: white;
            padding: 0;
            font-size: 20px;

            &#fb {
                background-color: #3d5b9b;
            }

            &#twitter {
                background-color: #20c0f0;
            }

            &#youtube {
                background-color: #e04a32;
            }

            &#gplus {
                background-color: #d01413;
            }

            &#linkedin {
                background-color: #d01413;
            }

            &#tumblr {
                background-color: #2d4865;
            }


        }
    }
}