<section class="border">
  <header class="header">
    <h2>Follow Us</h2>
  </header>
  <ul>
    <li>
      <button id="fb" mat-button class="contact-btn">
        <i class="fab fa-facebook-f"></i>
      </button>
    </li>
    <li>
      <button id="twitter" mat-button class="contact-btn">
        <i class="fab fa-twitter"></i>
      </button>
    </li>
    <li>
      <button id="gplus" mat-button class="contact-btn">
        <i class="fab fa-google-plus-g"></i>
      </button>
    </li>
    <li>
      <button id="youtube" mat-button class="contact-btn">
        <i class="fab fa-youtube"></i>
      </button>
    </li>
    <li>
      <button id="linkedin" mat-button class="contact-btn">
        <i class="fab fa-linkedin-in"></i>
      </button>
    </li>
    <li>
      <button id="tumblr" mat-button class="contact-btn">
        <i class="fab fa-tumblr"></i>
      </button>
    </li>
  </ul>
</section>
