<header class="subtitle">
  <h2>Join The Conversation</h2>
</header>
<form [formGroup]="commentForm" (ngSubmit)="onSubmit($event)" novalidate>
    <div class="form-group">
        <input formControlName="name" class="outline" type="text" placeholder="Name" />
    </div>
    <div class="form-group">
        <input formControlName="email" class="outline" type="text" placeholder="Email" />
        <small id="info">Will not be published</small>
    </div>
    <div class="form-group">
        <textarea formControlName="message" class="outline" placeholder="Message" rows="4"></textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="primary-btn" [disabled]="!commentForm.valid" mat-button>
            Send
        </button>
    </div>
</form>
