<section id="news-wrapper">
    <article  class="featured">
        <app-news-item-component [type]="'featured'"></app-news-item-component>
        <app-news-interactions-component></app-news-interactions-component>
    </article>
    <article>
        <app-news-item-component></app-news-item-component>
        <app-news-interactions-component></app-news-interactions-component>
    </article>
    <article>
        <app-news-item-component></app-news-item-component>
        <app-news-interactions-component></app-news-interactions-component>
    </article>
</section>